.page-header{id: "page-header"}
  = render partial: "posts_header"

#tag_cloud
  = render partial: "tag_cloud"

%a.btn{"data-toggle" => "collapse", :href => "#new-post-collapse"}
  Write a Post
#new-post-collapse.collapse
  .well
    = render :partial => 'posts/form', :locals => { post: @post, parent_id: nil, post_id: @post.id }

.container
  #posts-index
    = render partial: "post", collection: @posts