/*
*= require bootsy
*= require nprogress
*= require nprogress-bootstrap
*/
@import "bootsy";
@import "bootstrap-sprockets";
@import "bootstrap";

.button_to,
.button_to div {
  display: inline;
}

.comment-has-children:hover {
	cursor: pointer; cursor: hand;
}

.btn {
  margin-bottom: 5px;
}

#tag_cloud {
	width: 400px;
	.s { font-size: 0.8em; }
	.m { font-size: 1.2em; }
	.l { font-size: 1.8em; }
	.xl { font-size: 2.4em; }
}

a.perma-active { 
    text-decoration: underline;
}