- if current_user.voted_down_for? votable
  %button.btn.btn-warning.disabled
    %span.glyphicon.glyphicon-thumbs-down
- else
  = button_to dislike_comment_path(votable), method: :put, remote: true, class: "btn btn-warning" do
    %span.glyphicon.glyphicon-thumbs-down